/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap-datepicker
 *= require_tree .
 *= require_self
 */
 @import  'bootstrap';

.completed {
  text-decoration: line-through;
  text-align: center;
  opacity: .4;

}

.table-bordered, .table-bordered thead tr > th, .table-bordered tbody tr > td {
  text-align: center;
  border: none;
  font-size: 14pt;
  word-wrap: break-word;
  table-layout: fixed;
  width: 100%;
  word-wrap: break-word;
}

.modal-body {
  text-align: center;
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px)  {
 .offset4:first-child {
    text-align: center;
    height: auto;
    font-size: 0.9em;
  }
  .hero-unit {
   width:auto;;
   margin: auto;
   position: relative;
   height: auto;
  }

  .table-bordered, .table-bordered thead tr > th, .table-bordered tbody tr > td {
    text-align: center;
    border: none;
    font-size: 14pt;
    margin: auto;
    width: auto;
    table-layout: fixed;
    word-wrap: break-word;
  }

  h1 {
    text-align: center;
  }
}
