/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap-datepicker
 *= require_tree .
 *= require_self
 */
 @import  'bootstrap';

.completed {
  text-decoration: line-through;
  text-align: center;
  opacity: .4;
}

.table-bordered, .table-bordered thead tr > th, .table-bordered tbody tr > td {
  text-align: center;
  border: none;
  font-size: 14pt;
  word-wrap: break-word;
  table-layout: fixed;
  width: 100%;
  word-wrap: break-word;
}

.modal-body {
  text-align: center;
}

.row-fluid .offset1:first-child {
  margin-left: 0;
}

.row-fluid .span10{
  width: 100%;
}
.btn a {
  color: white;
}
button.btn, input[type="submit"].btn{
  width: 100%;
  text-align: center;
}
.form-actions {
    padding: 0px;
}
h2{
  text-align: center;
}
div {
  text-align: center;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px)  {
  .offset4:first-child {
    text-align: center;
    height: auto;
    font-size: 0.9em;
  }
  .hero-unit {
    width:auto;
    margin: auto;
    position: relative;
    height: auto;
    padding: 40px;
  }

  .table-bordered, .table-bordered thead tr > th, .table-bordered tbody tr > td {
    text-align: center;
    border: none;
    font-size: 14pt;
    word-wrap: break-word;
    table-layout: fixed;
    width: 100px;
    word-wrap: break-word;
  }

  h1 {
    text-align: center;
  }
  button.btn{
    width: 100%;
    text-align: center;
  }
  .btn-group:first-child {
    text-align: center;
    margin: 0 auto;
    margin-top: 5px;
    margin-right: 550px;

  }
  textarea, input[type="password"], input[type="email"]{
    width: 100%;
  }

}
